<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Holdfino</title>
    <link rel="stylesheet" type="text/css" href="../public/home.css" />
  </head>
  <body>
    <div class="cont1" style="padding: 0px 10px; background-color:#010122">
      <div class="header">
        <div class="header_con1" style="padding: 20px 30px 0px">
          <div class="header_box">
            <div class="box1">
              <a href="" style="text-decoration: none; color: aqua">Holdfino</a>
            </div>
            <div class="box2">
              <select id="INR" class="header_select" name="INR">
                <option value="INR">INR</option>
              </select>
              <select id="BTC" class="header_select" name="BTC">
                <option value="BTC">BTC</option>
                <option value="BTC">ETH</option>
                <option value="BTC">USDT</option>
                <option value="BTC">XRP</option>
                <option value="BTC">TRX</option>
                <option value="BTC">DASH</option>
                <option value="BTC">ZEC</option>
                <option value="BTC">XEM</option>
                <option value="BTC">IOST</option>
                <option value="BTC">WIN</option>
                <option value="BTC">BTT</option>
                <option value="BTC">WRX</option>
              </select>
              <button class="header_select">BUY BTC</button>
            </div>
            <div class="box3" style="display: flex; flex-direction: row">
              <div class="cont1"><button style="border:none">Connect Telegram</button></div>
              <div class="cont2"><span class="slider"></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="main_body">
        <div
          class="cont2"
          style="
            margin: 10px, 10px;
            padding: 10px 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
          "
        >
          <div style="display: flex; flex-direction: row; align-items: center; height:200px">
            <div class="boxes" style="display: flex; flex-direction: column;     align-items: center;">
              <div class="box1"> 0.26 % </div>
              <div class="box2"> 5 Mins </div>
            </div>
          </div>
          <div style="display: flex; flex-direction: row; align-items: center; height:200px">
            <div class="boxes" style="display: flex; flex-direction: column;     align-items: center;">
              <div class="box1"> 0.75 % </div>
              <div class="box2">1 Hour</div>
            </div>
          </div>
          <div style="display: flex; flex-direction: row; align-items: center; height:200px">
            <div
              class="large_box"
              style="display: flex; flex-direction: column;     align-items: center;"
            >
              <div class="b1"> Best time to trade </div>
              <div class="b2" id="average"> ₹ 24,095,4 </div>
              <div class="b1">
                Average BTC/INR net price including commission
              </div>
            </div>
          </div>
          <div style="display: flex; flex-direction: row; align-items: center; height:200px">
            <div class="boxes" style="display: flex; flex-direction: column;     align-items: center;">
              <div class="box1"> 8.5 % </div>
              <div class="box2">1 Day</div>
            </div>
          </div>
          <div style="display: flex; flex-direction: row; align-items: center; height:200px">
            <div class="boxes" style="display: flex; flex-direction: column;     align-items: center;">
              <div class="box1"> 8.11 % </div>
              <div class="box2">7 Days</div>
            </div>
          </div>
        </div>
      </div>
      <div class="section2" style="margin: 20px 20px; width:100%; box-sizing:border-box">
        <table width="95%">
          <thead style="display:table-header-group">
            <tr>
              <th>
                <h4>
                  <span class="pointer">
                     # 
                  </span>
                </h4>
              </th>
              <th>
                <h4>
                  <span class="pointer">
                     Platform 
                  </span>
                </h4>
              </th>
              <th>
                <h4>
                  <span class="pointer">
                     Last Traded Price 
                  </span>
                </h4>
              </th>
              <th>
                <h4>
                  <span class="pointer">
                     Buy / Sell Price 
                  </span>
                </h4>
              </th>
              <th>
                <h4>
                  <span class="pointer">
                     Difference 
                  </span>
                </h4>
              </th>
              <th>
                <h4>
                  <span class="pointer">
                     Savings 
                  </span>
                </h4>
              </th>
            </tr>
          </thead>
          <tbody style="display:table-header-group">
            <% for(var i=1; i<=data.length; i++){ %>
              
              <tr style="background-color: #2f2f3a; border-radius:10px;">
                <td class="align-middle">
                  <h4 class="table-text">
                    <%= i %>
                  </h4>
                </td>
                <td class="align-middle">
                  <a href="" style="text-decoration:none">
                  <h4 class="table-text">
                    <%= name[i-1] %>
                  </h4>
                </a>
                </td>
                <td class="align-middle">
                  <h4 class="table-text">
                    ₹ <%= data[i-1].last %>
                  </h4>
                </td>
                <td class="align-middle">
                  <h4 class="table-text">
                    ₹ <%= data[i-1].buy %> / ₹ <%= data[i-1].sell %>
                  </h4>
                </td>
                <td class="align-middle">
                  <h4 class="table-text">
                     <%= data[i-1].difference %>
                  </h4>
                </td>
                <td class="align-middle">
                  <h4 class="table-text">
                     <%- data[i-1].saving %>
                  </h4>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
      <div class="footer">
        <div class="box1">
          <div class="cont1">
            Copyright © 2019
          </div>
          <div class="cont1">
            HodlInfo.com
          </div>
        </div>
        <div class="box2">
          Support
        </div>
      </div>
      <div class="lastbtn" style="width:100%; text-align:center;">
        <button> Add hodlinfo to Home Screen </button>
      </div>
    </div>
  </body>
  <script>
    var result = JSON.parse('<%- JSON.stringify(data)%>');
    console.log(result);
    var average = result[0].average;
    console.log(average);
    var avg = document.getElementById('average');
    avg.innerHTML = "₹ "+average;
  </script>
</html>
